.first__container{
position: relative;
 flex-direction: column;
 text-align: center;
 text-align: center;
 width: 100%;
 background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);    
}

.header {
    padding: 10px 20px 0 20px;
    height: 60px;
    display: flex;
    width: 100%;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
  }

  .header__wrapper{
    background-color: black;
    padding-bottom: 10px;
  }

  .header__logo {
    margin-left: 20px;
    width: 100px;
    object-fit: contain;
  }
  .header__options {
    display: flex;
  }
  .signIn {
    border-color: black;
    background-color: #e50914;
    margin-left: 10px;
    margin-right: 10px;
  }

  .background__imgDiv{
      opacity: 0.6;
      top: 0;
      bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    }

  .background__image{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .middle__part{
    padding-top: 100px;
    padding-bottom: 150px;
    position: relative;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
  }
  .heading{
      color:white
  }

  .email__inputDiv{
    text-align: center;
    align-items: center;
    border-radius: 0 0 0 0;
    border: 0px;
    height: 60px!important;
    max-width: 950px;
    grid-row-gap: 30px;
    margin: 10px;
  }
  .email__input{
    width: 100%;
    padding-left: 10px;
    min-height: 48px;
    border:solid 1px #8c8c8c;
  }
  h1{
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  h2{
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h3 .heading{
    max-width: none;
    padding-bottom: 20px;
    font-size: 1.2rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.getStarted__button{
    max-width: 250px;
    margin: 0;
    font-weight: 500;
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 0;
    border-color: black;
    
}
.col-md-3{
    padding: 0;
    margin: 0;
}
.col-md-9{
  width: 100%;
  padding: 0;
}
