.floating__container{
    padding:10px 50px;
    margin-top: 10px;
    align-items: center;
    background-color: black;
    color: white;
}
.container__img{
    padding: 5px;
}
.container__img img{
    max-height: 250px;
    max-width: 100%;
    object-fit: contain;
}
.container__disc{
    padding: 10px;
}